# IS 362 - Project 2

### Johnny Zgombic

**Project Tasks**:

    •Choose any three “wide” datasets.  
    
        For each of the three chosen datasets:
            •Create a .CSV file that includes all of the information included in the dataset.
            •Read the information from your .CSV file into Python and use pandas as needed to tidy your data.
            •Perform the analysis requested in the discussion item. 
            •Your code should be in an Jupyter Notebook, posted to your GitHub repository, and should include narrative 
                descriptions of your data cleanup work, analysis, and conclusions.

The first step in our program is to import **pandas** as it will be used by all of out data sets.

In [166]:
import numpy as np
import pandas as pd

Set the default values for the maximum number of columns and rows returned.

In this case I chose to set the maximum columns and rows to 20.

In [171]:
pd.set_option('display.max_columns', 20)
pd.set_option('display.max_rows', 20)

## Dataset1     

#### cereal.csv

For this data set, I chose data regarding cereals. This includes their manufacturer, nutritional content and rating among other data.

We will now read the csv file into Python using **pd.read_csv**

In [172]:
cereal = pd.read_csv('cereal.csv')

In the below section of code, I will sort the cereals by Protein content so that I can list the ones with the highest.

After doing so, we can clearly see that that their are two cereals that stand at the top with 6 grams of protein.

The code we used includes using **sort_values()** and **head()**.

In [175]:
cereal.sort_values(by=['protein'], ascending = False).head(10)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
11,Cheerios,G,C,110,6,2,290,2.0,17.0,1,105,25,1,1.0,1.25,50.764999
67,Special K,K,C,110,6,0,230,1.0,16.0,3,55,25,1,1.0,1.00,53.131324
57,Quaker Oatmeal,Q,H,100,5,2,0,2.7,-1.0,-1,110,0,1,1.0,0.67,50.828392
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
45,Muesli Raisins; Peaches; & Pecans,R,C,150,4,3,150,3.0,16.0,11,170,25,3,1.0,1.00,34.139765
44,Muesli Raisins; Dates; & Almonds,R,C,150,4,3,95,3.0,16.0,11,170,25,3,1.0,1.00,37.136863
43,Maypo,A,H,100,4,1,0,0.0,16.0,3,95,25,2,1.0,1.00,54.850917
41,Life,Q,C,100,4,2,150,2.0,12.0,6,95,25,2,1.0,0.67,45.328074

In the below section of code, I will get the total number of cereals made by each manufacturer.

After doing so, we can clearly see that K has the most cereals at 23 followed by G at 22. All the other manufactureres are in single digits after that.

The code we used includes searching for just the columns labled *mfr* and *type*, using **count()**, using **rename()** in order to properly label the column *type* to *No. of Cereals* and finally, using **sort_values()** to sort by *No. of Cereals*.

In [176]:
manufacturer = cereal[[col for col in cereal.columns if 'mfr' in col or 'type' in col]]
grouped = manufacturer.groupby('mfr').count()
grouped.rename(columns={'type': 'No. of Cereals'}, inplace=True)
grouped.sort_values(by=['No. of Cereals'], ascending = False)

     No. of Cereals
mfr
K                23
G                22
P                 9
Q                 8
R                 8
N                 6
A                 1

In the below section of code, I will sort the cereals by rating and also add sugars in there to see the correlation.

After doing so, we can clearly see that All-Bran with Extra Fiber has the highest rating, while the next best competitor is nearly 20 points away. We also see that the top 8 rated cereals have 0 sugars added which means the rating that we see are most likely nutritional ratings.

The code we used includes searching for just the columns labled *name*, *sugars* and *rating* and using **option_context()** to add multiple formatting options to the text which include the the display precision, the number of decimal places for *rating* and highlighting of the max *rating*. Within the **option_context()**, we also used **sort_values** to sort by *rating*.

In [177]:
rating = cereal[[col for col in cereal.columns if 'name' in col or 'sugars' in col or 'rating' in col]]

with pd.option_context('display.precision', 2):
    rating = (rating.sort_values(by=['rating'], ascending = False).head(10).style
                                                                           .format({'rating': '{:.2f}'})
                                                                           .highlight_max('rating'))
rating

## Dataset2   

#### border.csv

For this data set, I chose data regarding border ports in the United States. The data we get includes the state, port name, the value of items crossing the border and which border it is on.

We will now read the csv file into Python using **pd.read_csv**

In [178]:
border = pd.read_csv('border.csv')

In the below section of code, I will sort the port name by value and format the value as a monetary object.

After doing so, we can clearly see that El Paso has the highest value, while the next most valued is San Ysidro at almost the same value, followed by all others who are nearly half as valuable.

The code we used includes searching for just the columns labeled *port name* and *value* and using **option_context()** to add formatting options to the text which include the number of decimal places and the formatting of the number to monetary style. Within the **option_context()**, we also used **sort_values** to sort by *value* and **head()** to only include the top 10 results.

In [179]:
value = border[[col for col in border.columns if 'port name' in col or 'value' in col]]
grouped = border.groupby('port name').sum()

with pd.option_context('display.precision', 2):
    grouped = (grouped.sort_values(by=['value'], ascending = False).head(10).style.format({'value': '${:,.0f}'}))
grouped

In the below section of code, you will see the listed State followed by how many ports it contains and the total value of the merchandise coming through.

After doing so, we can clearly see that Texas has the most value coming through. We can assume this is the way it is because of the amount of merchandise coming through Mexico because the top 3 states are Texas, California and Arizona.

The code we used includes searching for just the columns labled *state*, *port name* and *value* and using **option_context()** to add formatting options to the text which include the number of decimal places and the formatting of the number to monetary style. I also renamed the *Port Name* column to *No. of Ports* to accurately represent our query.

Before using the **option_context()**, in order to add multiple queries for sum and count, we need to add aggregates so that we may do so. I added aggregation for *port name* and *value* so that we can have separate queries for each. Within the **option_context()**, we also used **sort_values** to sort by *value* and **head()** to only include the top 20 results. We also formatted the count of ports to a number with 0 decimal places and formatted the *value* to represent money.

In [180]:
ports = border[[col for col in border.columns if 'state' in col or 'port name' in col or 'value' in col]]

aggregations = {
    'port name':'count', 
    'value':'sum'
}

grouped = ports.groupby('state').agg(aggregations)
grouped.rename(columns={'port name': 'No. of Ports'}, inplace=True)

with pd.option_context('display.precision', 2):
    grouped = (grouped.sort_values(by=['value'], ascending = False).head(20).style
                                                                           .format({'port name': '{:,.0f}'})
                                                                           .format({'value': '${:,.0f}'}))
grouped

## Dataset3   

#### happiness.csv

For this data set, I chose data regarding happiness in countries around the world. The data includes their rank, their GDP, corruption rate and life expectancy.

We will now read the csv file into Python using **pd.read_csv**

In [186]:
happiness = pd.read_csv('happiness.csv')

In the below section of code, we will sort the data we have by *Life Expectancy* for the top 20 results.

The code we used includes searching for just the columns labled *country*, *rank* and *life expectancy*. We can see from this query that their is no correlation between top ranked countries and life expectancy as the top 20 are a mixture of ranks between 3 and 71, where the highest life expentancy is with the 26th rank country and the 2nd highest is with the 71st ranked country.

The code we used includes searching for just the columns labled *country*, *rank* and *life expectancy* and using option_context() to add formatting options to the text which include the number of decimal places. Within the option_context(), we also used sort_values to sort by *Life Expectancy* and **head()** to only include the top 20 results

In [194]:
life = happiness[[col for col in happiness.columns if 'Country' in col or 'Rank' in col or 'Life Expectancy' in col]]

with pd.option_context('display.precision', 2):
    life = (life.sort_values(by=['Life Expectancy'], ascending = False).head(20).style
                                                                                .format({'life expectancy': '${:.2f}'}))
life

In the below section of code, we will sort the data we have by GDP and we will highlight the max life expectancy for our query and compare it to the max we received in the last quesry, **.95**.

After doing so, we can clearly see that when sorted by highest GDP, we get the max Life Expectancy from before but not at the top of the list and we get a range from .63 to .95, which tells us that life expectancy does not necessarily relate to a prosperous country.

The code we used includes **option_context()** to add formatting options to the text which include the display precision and the highlighting of the max life expectancy.

Within the **option_context()**, we also used **sort_values** to sort by *GDP* and **head()** to only include the top 10 results.

In [165]:
happiness = pd.read_csv('happiness.csv')
with pd.option_context('display.precision', 2):
    happiness = (happiness.sort_values(by=['GDP'],ascending=False).head(10).style
                                   .highlight_max('Life Expectancy'))
happiness

#### Conclusion

When looking at each of the data sets presented, you can see that there are multiple ways of tidying the data to achieve a goal. You can make correlations across each of the data values and come up with conclusions.

In the cereal data set, we saw the correlation between the rating and sugars added which brought us to the conclusion that the rating was a nutritional rating.

In the border data set, we created a query that showed us that the most value is coming through the US-Mexico border and showed us that even though there are more ports somewhere else, more value is coming through the southern ports.

In the happiness data set, we saw that life expectancy did not necessarily correlate to a prosperous nation or a high ranked happy nation. To understand the life expectancy, we would need more data but at least we can see from the data we have, where that correlation does not belong.